body {
    background: #F0F8FF;
    color: #00008b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
/*
    background-color: -webkit-;
    background-color: -moz-;
    background-color: -ms-;
    background-color: -o-;
*/
}

h1 {
    font-weight: bold;
}

a {
    text-decoration: underline;
}

img {
    width: 300px;
}